<div class="container">
    <p class="fs-3 fw-bold text-center mt-5 "> Contact Us</p>
    <div class="my-4">
        <p class="fs-4 fw-bold mb-0 ">Department Address:</p>
    <p class="fs-2 fw-bolder "> Vikas Bhawan, A Block, Azad Bhawan Rd, <br> IP Estate, New Delhi, Delhi, 110002</p>
    </div>
    <div class="my-4">
        <p class="fs-4 fw-bolder mb-0" > Sh. Sunil Dutt Sharma</p>
    <p class="fs-6 fw-bolder mb-0" > Deputy Registrar</p>
    <p class="fs-6 fw-bolder mb-0" > <i class="bi bi-telephone-fill"></i>
        &nbsp; +91-11-23370799</p>
    </div>
    <div class="my-4">
        <p class="fs-4 fw-bolder mb-0" > SH. TRILOK CHAND</p>
    <p class="fs-6 fw-bolder mb-0" > PS to President</p>
    <p class="fs-6 fw-bolder mb-0" > <i class="bi bi-telephone-fill"></i>
        &nbsp; +91-11-23370258</p>
    </div>
    
</div>
