<div class="container py-5">
    <p class="fs-5 fw-bold">IN THE UNION TERRITORY OF DELHI, AS MANY AS 10 DISTRICT COMMISSION,
        EACH HEADED BY A PRESIDENT, ARE FUNCTIONING IN THE VARIOUS PARTS OF
        DELHI.
    </p>
    <p class="fs-5 fw-bold">
        THE DETAILS OF THE DISTRICT COMMISSION FUNCTIONING IN THE UNION
        TERRITORY OF DELHI, TOGETHER WITH THEIR LOCATION, PHONE NUMBERS,
        NAMES OF PRESIDENTS AND MEMBERS ALONGWITH THEIR TERRITORIAL
        JURISDICTION ARE GIVEN BELOW:</p>
</div>
<div class="container">
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th scope="col">S.NO.</th>
                <th scope="col">DISTRICT
                    COMMISSION
                    ADDRESS</th>
                <th scope="col" style="width: 400px;">NAME AND NUMBER OF
                    PRESIDENTS AND
                    MEMBERS</th>
                <th scope="col">JURISDICTION OF CASES
                    PERTAINING TO POLICE
                    STATIONS FALLING
                    WITHIN</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <th scope="row">1</th>
                <td>DISTRICT CONSUMER
                    DISPUTES REDRESSAL
                    COMMISSION (NORTH
                    DISTRICT),
                    GNCT OF DELHI. <br>
                    ROOM NO. 2 & 3, GROUND
                    FLOOR, ANNEXE -II,
                    TIS HAZARI COURTS
                    COMPLEX, TIS HAZARI,
                    DELHI - 110054
                </td>
                <td>
                    <div>
                        <p class="fs-5 fw-bold"> PRESIDENT</p>
                        <p>SH. DIVYA JYOTI JAIPURIAR</p>
                    </div>
                    <div>
                        <p class="fs-5 fw-bold"> MEMBER</p>
                        <p>MR. ASHWANI KUMAR
                            MEHTA,
                            MS. HARPREET KAUR
                            CHARYA <br>
                            TEL: (OFFICE)
                            23912675, 23969372
                        </p>
                    </div>

                </td>
                <td>CIVIL LINES, TIMARPUR, ROOP
                    NAGAR, MAURICO NAGAR,
                    SUBJI MANDI, GULABI BAGH,
                    SARAI ROHILLA, BARA HINDU
                    RAO, SADAR BAZAR KASHMERE
                    GATE, KOTWALI, LAHORI GATE,
                    CHANDNI CHOWK, ANY OTHER
                    POLICE STATION WHICH MAY
                    BE CREATED IN FUTURE IN
                    THE DISTRICT.</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>DISTRICT CONSUMER
                    DISPUTES REDRESSAL
                    COMMISSION-II (SOUTH
                    DISTRICT), GNCT OF
                    DELHI <br>
                    UDYOG SADAN, C-22&23,
                    QUTUB INSTITUTIONAL
                    AREA(BEHIND QUTUB
                    HOTEL MEHRAULI) NEW
                    DELHI (SOUTH-I)

                </td>
                <td>
                    <div>
                        <p class="fs-5 fw-bold"> PRESIDENT</p>
                        <p>SH. RAJ KUMAR CHAUHAN</p>
                    </div>
                    <div>
                        <p class="fs-5 fw-bold"> MEMBER</p>
                        <p>DR. RAJENDER DHAR,
                            MS. RITU GARODIA
                            <br>
                            TEL.:(OFFICE)
                            26565666, 26961433
                        </p>
                    </div>

                </td>
                <td>HAUZ KHAS, MALVIYA
                    NAGAR, MEHRAULI,
                    DEFENCE COLONY,
                    LODHICOLONY, KOTLA
                    MUBARAK PUR, LAJPAT
                    NAGAR, SRINIVAS PURI.
                    ANY OTHER POLICE
                    STATION WHICH MAY BE
                    CREATED IN FUTURE IN
                    THE DISTRICT.</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>DISTRICT CONSUMER
                    DISPUTES REDRESSAL
                    COMMISSION (SOUTH EAST
                    DISTRICT), GNCT OF DELHI.
                    <br>
                    UDYOG SADAN, C – 22 & 23
                    INSTITUTIONAL AREA
                    (BEHIND QUTAB HOTEL),
                    NEW DELHI – 11001

                </td>
                <td>
                    <div>
                        <p class="fs-5 fw-bold"> PRESIDENT</p>
                        <p>MS. MONIKA AGGARWAL
                            SRIVASTAV</p>
                    </div>
                    <div>
                        <p class="fs-5 fw-bold"> MEMBER</p>
                        <p>MS. KIRAN KAUSHAL,
                            SH. UMESH KUMAR TYAGI
                            <br>
                            TEL(OFFICE):
                            26533073, 26533014

                        </p>
                    </div>

                </td>
                <td>H.N. DEEN, GREATER KAILASH,
                    CHITRANJAN PARK, AMBEDKAR
                    NAGAR, KALKAJI, BADARPUR,
                    OKHLA INDI. AREA, NEW
                    FRIENDS COLONY, SARITA
                    VIHAR, SANGAM VIHAR, ANY
                    OTHER POLICE STATION WHICH
                    MAY BE CREATED IN FUTURE IN
                    THE DISTRICT.
                </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>DISTRICT CONSUMER
                    DISPUTES REDRESSAL
                    COMMISSION-III (WEST
                    DISTRICT), GNCT OF
                    DELHI. <br>
                    C-150-151, COMMUNITY
                    CENTER, JANAKPURI,
                    DELHI-58

                </td>
                <td>
                    <div>
                        <p class="fs-5 fw-bold"> PRESIDENT</p>
                        <p>MS. SONICA MEHROTRA
                        </p>
                    </div>
                    <div>
                        <p class="fs-5 fw-bold"> MEMBER</p>
                        <p>MS. RICHA JINDAL,
                            MR. ANIL KUMAR<br>
                            TEL. (OFFICE)
                            25541281, 25505036
                        </p>
                    </div>

                </td>
                <td>PATEL NAGAR, ANAND
                    PARBAT, MOTI NAGAR,
                    TILAK NAGAR, JANAK
                    PURI, VIKAS PURI,
                    PUNJABI BAGH, PASCHIM
                    VIHAR, NANGLOI, RAJOURI
                    GARDEN, HARI NAGAR,
                    KIRTI NAGAR, UTTAM
                    NAGAR AND ANY OTHER
                    POLICE STATION WHICH
                    MAY BE CREATED IN
                    FUTURE.
                </td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>DISTRICT CONSUMER
                    DISPUTES REDRESSAL
                    COMMISSION-IV (NORTH
                    EAST DISTRICT), GNCT OF
                    DELHI. <br>
                    D.C. OFFICE COMPLEX,
                    NAND NAGRI, DELHI-93
                </td>
                <td>
                    <div>
                        <p class="fs-5 fw-bold"> PRESIDENT</p>
                        <p>SH. SURINDER KUMAR
                            SHARMA</p>
                    </div>
                    <div>
                        <p class="fs-5 fw-bold"> MEMBER (JUDICIAL)</p>
                        <p>MS. ADARSH NAIN,
                            SH. ANIL KUMAR BAMBA
                            <br>
                            TEL.: (OFFICE)
                            22121591,22124114

                        </p>
                    </div>

                </td>
                <td>SEELAM PUR, GOKAL PURI,
                    BHAJAN PURA, SHAHDARA,
                    WELCOME COLONY,
                    MANSAROVAR PARK,
                    SEEMA PURI, NAND NAGRI,
                    NEW USMANPUR, KHAJURI
                    KHAS, DILSHAD GARDEN,
                    ANY OTHER POLICE
                    STATION WHICH MAY BE
                    CREATED IN FUTURE IN
                    THE DISTRICT.</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>DISTRICT CONSUMER
                    DISPUTES REDRESSAL
                    COMMISSION-V (NORTH
                    WEST DISTRICT), GNCT
                    OF DELHI. <br>
                    CSC, BLOCK C, PKT-C,
                    SHALIMAR BAGH,
                    DELHI-88

                </td>
                <td>
                    <div>
                        <p class="fs-5 fw-bold"> PRESIDENT</p>
                        <p>
                            SH. SANJAY</p>
                    </div>
                    <div>
                        <p class="fs-5 fw-bold"> MEMBER</p>
                        <p>MS. NIPUR CHANDNA,
                            SH. RAJESH<br>
                            TEL.:(OFFICE)
                            27494833, 27492650
                        </p>
                    </div>

                </td>
                <td>SULTAN PURI, MANGOL
                    PURI, KANJHAWALA,
                    ASHOK VIHAR, SARASWATI
                    VIHAR, KESHAV
                    PURAM, SHALIMAR BAGH,
                    JAHANGIR PURI, ROHINI,
                    NARELA, SAMAIPUR
                    BADLI, ALIPUR,
                    MUKHERJEE NAGAR,
                    ADARSH NAGAR, MODEL
                    TOWN, BAWANA,
                    PRASHANT VIHAR, ANY
                    OTHER POLICE STATION
                    WHICH MAY BE CREATED
                    IN FUTURE IN THE
                    DISTRICT.
                </td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>DISTRICT CONSUMER
                    DISPUTES REDRESSAL
                    COMMISSION-VI (NEW
                    DISTRICT), GNCT OF
                    DELHI.
                    <br>
                    M-BLOCK 1ST FLOOR
                    VIKAS BHAWAN I.P.
                    ESTATE, NEW DELHI110002

                </td>
                <td>
                    <div>
                        <p class="fs-5 fw-bold"> PRESIDENT</p>
                        <p>MS. POONAM CHAUDHARY</p>
                    </div>
                    <div>
                        <p class="fs-5 fw-bold"> MEMBER</p>
                        <p>MR. SHEKHAR CHANDRA,
                            SH. BARIQ AHMAD <br>
                            TEL.:(OFFICE) :
                            23378114
                        </p>
                    </div>

                </td>
                <td>PARLIAMENT STREET, MANDIR
                    MARG, CANNAUGHT PLACE,
                    TILAK MARG, CHANAKYA PURI,
                    TUGHLAK ROND, ANY OTHER
                    POLICE STATION WHICH MAY
                    BE CREATED IN FUTURE IN
                    THE
                    DISTRICT.
                </td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>DISTRICT CONSUMER
                    DISPUTES REDRESSAL
                    COMMISSION-VII (SOUTH
                    WEST DISTRICT), GNCT
                    OF DELHI.
                    <br>
                    SECTOR-20, DWARKA,
                    DELHI-110077

                </td>
                <td>
                    <div>
                        <p class="fs-5 fw-bold"> PRESIDENT</p>
                        <p>SH. SURESH KUMAR GUPTA</p>
                    </div>
                    <div>
                        <p class="fs-5 fw-bold"> MEMBER</p>
                        <p>MS. HARSHALI KAUR,
                            SH. RAMESH YADAV <br>
                            TEL.:(OFFICE)
                            28050114
                        </p>
                    </div>

                </td>
                <td>VASANT VIHAR, R.K. PURAM,
                    SAROJINI NAGAR, DELHI
                    CANTT., VASANT KUNJ, DABRI,
                    NARAINA, MAYA PURI. INDER
                    PURI, NAJAFGARH, JAFFARPUR
                    KALAN, DWARKA, KAPASHERA,
                    ANY OTHER POLICE STATION
                    WHICH MAY BE CREATED IN
                    FUTURE IN THE DISTRICT.
                </td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>DISTRICT CONSUMER
                    DISPUTES REDRESSAL
                    COMMISSION-VIII
                    (CENTRAL DISTRICT),
                    GNCT OF DELHI. <br>
                    KASHMERE GATE DELHI-110006.


                </td>
                <td>
                    <div>
                        <p class="fs-5 fw-bold"> PRESIDENT</p>
                        <p>SH. INDER JEET SINGH,</p>
                    </div>
                    <div>
                        <p class="fs-5 fw-bold"> MEMBER</p>
                        <p>MS. SHAHINA,
                            SH. VYAS MUNI RAI <br>
                            TEL(OFFICE):
                            23866727, 23866728

                        </p>
                    </div>

                </td>
                <td>DARYA GANJ, CHANDNI
                    MAHAL, JAMA MASJID, KAMLA
                    MARKET, HAUZ QUASI, I.P.
                    ESTATE, PAHAR GANJ, D.B.G.
                    ROAD, NABI KARIM, KAROL
                    BAGH, PRASAD NAGAR,
                    RAJINDER NAGAR, ANY OTHER
                    POLICE STATION WHICH MAY
                    BE CREATED IN FUTURE IN
                    THE DISTRICT.
                </td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>DISTRICT CONSUMER
                    DISPUTES REDRESSAL
                    COMMISSION-IX (EAST
                    DISTRICT), GNCT OF
                    DELHI.
                    <br>
                    CONVENIENT SHOPPING
                    CENTRE, SAINI ENCLAVE,
                    DELHI.
                <td>
                    <div>
                        <p class="fs-5 fw-bold"> PRESIDENT</p>
                        <p>SH. SUKHVIR SINGH
                            MALHOTRA
                        </p>
                    </div>
                    <div>
                        <p class="fs-5 fw-bold"> MEMBER</p>
                        <p>MR. RAVI KUMAR,
                            MS. RASHMI BANSAL <br>
                            TEL. OFFICE: 22373093,
                            22379588
                        </p>
                    </div>

                </td>
                <td>KALYAN PURI, PANDAV
                    NAGAR, VIVEK VIHAR,
                    ANAND VIHAR, PREET
                    VIHAR, SHAKAR PUR,
                    GANDHI NAGAR, KRISHNA
                    NAGAR, GEETA COLONY,
                    MANDAWALI, FARSH
                    BAZAR, ASHOK
                    NAGAR, MAYUR VIHAR,
                    ANY OTHER POLICE
                    STATION WHICH MAY BE
                    CREATED IN FUTURE IN
                    THE DISTRICT.</td>
            </tr>


        </tbody>
    </table>
</div>