<div class="container text-center mt-5">
    <p class="fs-3 fw-bold">
        FEES STRUCTURE TO FILE COMPLAINT
    </p>
</div>
<div class="table-responsive container my-5 border rounded">
    <table class="table align-middle">
        <thead>
            <tr>
                <th scope="col">S.NO.</th>
                <th scope="col">VALUE OF GOODS OR SERVICES PAID AS CONSIDERATION</th>
                <th scope="col">AMOUNT OF FEEPAYABLE</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th colspan="3" class="text-center fs-5">
                    DISTRICT COMMISSION
                </th>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>UPTO RUPEES FIVE LAKH</td>
                <td>NIL</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>ABOVE RUPEES FIVE LAKH AND UPTO RUPEES TEN LAKHS</td>
                <td>RS.200/-</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>ABOVE RUPEES TEN LAKH AND UPTO RUPEES TWENTY LAKHS</td>
                <td>RS.400/-</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>ABOVE RUPEES TWENTY LAKH AND UPTO RUPEES FIFTY LAKHS</td>
                <td>RS.1000/-</td>
            </tr>
            <tr>
                <th colspan="3" class="text-center fs-5">
                    STATE COMMISSION
                </th>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>ABOVE RUPEES FIFTY LAKH AND UPTO RUPEES ONE CRORE</td>
                <td>RS.2000/-</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>ABOVE RUPEES ONE CRORE AND UPTO RUPEES TWO CRORE</td>
                <td>RS.2500/-</td>
            </tr>
            <tr>
                <th colspan="3" class="text-center fs-5">
                    NATIONAL COMMISSION
                </th>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>ABOVE RUPEES TWO CRORE AND UPTO RUPEES FOUR CRORE</td>
                <td>RS.3000/-</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>ABOVE RUPEES FOUR CRORE AND UPTO RUPEES SIX CRORE</td>
                <td>RS.4000/-</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>ABOVE RUPEES SIX CRORE AND UPTO RUPEES EIGHT CRORE</td>
                <td>RS.5000/-</td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>ABOVE RUPEES EIGHT CRORE AND UPTO RUPEES TEN CRORE</td>
                <td>RS.6000/-</td>
            </tr>
            <tr>
                <th scope="row">11</th>
                <td>ABOVE TEN CRORE</td>
                <td>RS.7500/-</td>
            </tr>

        </tbody>
    </table>
</div>