<div class="container my-5">
    <p class="text-center fw-bold fs-1">FAQs</p>
    <h2>01. Who can approach the redressal agencies established under the Consumer Protection Act for redressal of his
        grievances?</h2>
    <p>A consumer, as defined in section 2(1)(d) of the Act, or any voluntary consumer association registered under the
        Companies Act, 1956 or under any other law for the time being in force or the Central Government or any State
        Government or one or more consumers where there are numerous consumers having the same interest, or in case of
        death of a consumer, his legal heir or representative, can file a complaint in writing alleging that an unfair
        trade practice or a restrictive trade practice has been adopted by any trader or service provider; or the goods
        bought by him or agreed to be bought by him suffer from one or more defects; or the services hired or availed of
        or agreed to be hired or availed of by him suffer from deficiency in any respect; or a trader or the service
        provider, as the case may be, has charged for the goods or for the services mentioned in the complaint, a price
        in excess of the price -</p>
    <ul>
        <li>(a) fixed by or under any law for the time being force;</li>
        <li>(b) displayed on the goods or any package containing such goods;</li>
        <li>(c) displayed on the price list exhibited by him by or under any law for the time being in force;</li>
        <li>(d) agreed between the parties; or goods which will be hazardous to life and safety when used are being
            offered for sale to the public
            <ul>
                <li>(i) in contravention of any standards relating to safety of such goods as required to be complied
                    with, by or any law for the time being in force</li>
                <li>(ii) if the trader could have known with due diligence that the goods so offered are unsafe to the
                    public</li>
            </ul>
        </li>
    </ul>
    <p>or services which are hazardous or likely to be hazardous to life and safety of the public when used, are being
        offered by the service provider which such persons could have known with due diligence to be injurious to life
        and safety; with a view to obtaining any relief provided by or under the Act.</p>

    <h2>02. How to approach and where to approach and what are the requirements for filing a complaint before the State
        Commission and the District Forums?</h2>
    <p>After the coming into effect of the Consumer Protection Act, 2019,</p>
    <ul>
        <li>Where the value of the goods or services paid as consideration does not exceed one crore rupees, the
            complaint is to be filed before the District Forums;</li>
        <li>Where the value of the goods or services paid as consideration exceeds one crore rupees but does not exceeds
            10 crore rupees, the complaint is to be filed before the State Commission.</li>
        <li>The Complaint can be instituted at the place where:
            <ul>
                <li>(a) the opposite party or each of the opposite parties, where there are more than one, at the time
                    of the institution of the complaint, ordinarily resides or carries on business or has a branch
                    office or personally works for gain; or</li>
                <li>(b) any of the opposite parties, where there are more than one, at the time of the institution of
                    the complaint, actually and voluntarily resides, or carries on business or has a branch office, or
                    personally works for gain, provided that in such case the permission of the District Commission is
                    given; or</li>
                <li>(c) the cause of action, wholly or in part, arises; or</li>
                <li>(d) the complainant resides or personally works for gain.</li>
            </ul>
        </li>
    </ul>

    <h2>03. What are the requirements for filing an Appeal against the orders of the District Forums to the State
        Commission?</h2>
    <p>As per the provisions of the Act, any person aggrieved by an order passed by the District Forum may prefer an
        appeal against such order to the State Commission within a period of 45 days from the date of order. The period
        of limitation for filing the appeal is to be computed from the date of communication of the order to the
        aggrieved party. Proviso to Section 41 of the Act provides that the State Commission may entertain an appeal
        even after the expiry of said period of 45 days if it is satisfied that there was sufficient cause for not
        filing the same within that period. Provided further that no appeal by a person who is required to pay any
        amount in terms of an order of the District Commission, shall be entertained by the State Commission unless the
        Appellant has deposited 50% (Fifty percent) of that amount in the manner as may be prescribed.</p>

    <h2>04. In case the orders passed by the redressal agencies are not implemented, remedy available to aggrieved
        person</h2>
    <p>In case the orders passed by the District Forum or by the State Commission, as the case may be, are not
        implemented, the aggrieved person has a right to file an Application for implementation of the orders, under
        section 25 and/or under section 27 of the Act, as he may be advised.
</div>